@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf') format('opentype');
}
body{
    background-color: rgb(236, 217, 168);
    margin: 0;
}

a{
   text-decoration: none;
   font-weight: bold; 
   color: rgba(7, 109, 49, 0.979); 
}

header{
    text-align: center;
    color: white;
    text-shadow: 3x 5px 5px;
    background-image: linear-gradient(to bottom, rgb(49, 180, 126), rgb(45, 146, 95), rgb(7, 99, 61), rgb(9, 83, 61));
    padding: 30px;
    margin: 0px;
}

header > nav{
    text-align: left;
    font-size: 1.2em;

}

nav > a{
    color: rgba(33, 199, 102, 0.699);
    text-decoration: none;
    margin: 0px 3px 0px 0px;
    padding: 10px;   
    
}

nav > a:hover{
    text-decoration: overline;
    background-color: rgba(39, 136, 96, 0.795);
}

article{
    font: normal normal 1.1em 'worksans', sans-serif;
    text-align: justify;
    background-color: white;
    padding: 5px 25px 25px 25px;
    margin: 0px 140px 0px 140px;

}

p > a:hover{
    text-decoration: underline;
}

p{
    text-indent: 30px;
}
img{
    display: block;
    margin: 0 auto;
}

iframe{
    display: block;
    margin: 0 auto;
}

aside{ 
    background-color: rgb(152, 235, 193);
    color: black;
    border-radius: 10px;
    padding: 10px;
}
aside > h3{
    color: white;
    background-color: green;
    border-radius: 10px;
    margin-top: -8px;
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px;
}
aside > ul{
    display: inline-block;
    list-style: none;
    margin-right: 100px;
}
ul > li{
    font-weight: bolder;
 
}
ul > li::before{
    content: "\2713";
    margin-right: 15px;

}

footer{
    text-align: center;
    color: lightgoldenrodyellow;
    background-color: rgb(6, 99, 79);
    padding: 5px;
}

strong > a{
    text-decoration: underline;
    color: rgb(105, 175, 13);
}

strong > a:hover{
    color: violet;
}

.fonte{
    font-family: 'android';
    color: rgb(13, 117, 74);
}
.fundo{
    background-image: linear-gradient(to right, rgba(187, 247, 187, 0.808), rgb(211, 238, 211), rgb(241, 241, 241));
}
