@charset "UTF-8";

/* Estilo para tela */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    background: rgb(80, 80, 80);
    color: white;
}
    
header {
    background-color: rgb(82, 6, 6) ;
}

header > h1 {
    padding: 30px;
    text-align: center;
}

nav {
    padding: 10px;
}

li {
    list-style-type: none;
    display: inline;
}

li:hover {
    background-color: red;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    background-color: rgb(110, 110, 110);
}




