@charset "UTF-8";



    * {
        padding: 0;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    html, body {
        width: 100vw;
        height: 100vh;
        background-color: rgb(83, 83, 83);
    }

    h1 {
        color: white;
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.466);
    }


        /* Declarações para Retrato */

    @media screen and (orientation: portrait) {

    body {
        background: rgb(49, 49, 255) url('../imagens/cev-portrait.jpg') no-repeat center fixed;
        background-size: contain;
        background-position: center bottom;

    }
            
    }

        /* Declarações para Paisagem*/

    @media screen and (orientation: landscape) {
        
    body {
        background: rgb(17, 17, 83) url('../imagens/cev-landscape.jpg') no-repeat center fixed;
        background-position: left bottom;

    }
    }