@charset "UTF-8";

@media screen and (min-width: 768px) {

.material-symbols-outlined {
    display: none;
}    
  
nav {
    display: inline-block;
}


nav > ul > li {
    display: inline;
}

nav a {
    display: inline-block;
}

main {
    width: 768px;
}
}