@charset "UTF-8";

@media screen and (min-width: 750px) {

.material-symbols-outlined {
    display: none;
}    
  
nav {
    display: inline-block;
}

.menu {
    margin-right: 50px ;
}

nav > ul > li {
    display: inline;
}

nav a {
    display: inline-block;
    text-align: center;
    border-top: 2px solid rgb(65, 61, 61);
    padding: 5px;
    padding-right: 100px;
    margin: 0px;
    background-color: rgb(77, 76, 76);
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(78, 33, 33);
    color: rgb(250, 221, 221);
}
}