@charset "UTF-8";

/* Configurações gerais */

* {
    padding: 0;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(83, 83, 83);
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.466);
}