@charset "UTF-";

/* Demais Midias */

/* 
    Typical devices breakpoints
    
    celulares pequenos 0-480
    tablets e telefones grandes: 481-768
    laptops, larget tablets in landscape, and small desktops: 769-1279
    larger desktops and monitors: 1280+


*/

@media print { /* IMPRESSÃO */

    * {
        font-family: 'Courier New', Courier, monospace;
        
    }
    body {
        background-image: url(../imagens/back-print.jpg); /* Desnecessario */       
        
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
    
    main::after {
        content: "Essa impressão foi feita através do site www.cursoemvideo.com";
        text-decoration: underline;
    }
}


@media screen and (min-width: 600px) and (max-width: 879px) { /* TABLETS */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block}
    img#print {display: none}
    img#desktop {display: none}
    img#tv {display:none}
}



@media screen and (min-width: 880px) and (max-width: 1200px) { /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none}
    img#print {display: none}
    img#desktop {display: block}
    img#tv {display:none}
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none}
    img#print {display: none}
    img#desktop {display: none}
    img#tv {display:block}
}

