@charset "UTF-8";

* {
    margin: 0px;
}
body {
    background: brown url('../imagens/fundo-madeira.jpg') center no-repeat fixed;
    background-size: cover;
}

iframe {
    border-radius: 10px;
    height: 725px;
    width: 450px;
    display: inline;
}

a {
    text-align: right;
}

a > img {
    width: 75px;
    border-radius: 50%;
}

